body {
	margin: 0;
	padding: 0;
	width: 100%;
}

#test4-div,
#test3-div,
#test2-div,
#test-div {
	float: left;
	position: relative;
	margin-left: 5%;
	margin-top: 5%;              
	border: 1px solid #cccccc;
	width: 50%;            
}

#test2-div {
	margin-left: 25%;
}
